{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="projects container">
      <div class="row align-items-end">
        <!-- Latest Posts -->
              <!-- post -->
              {% for post in queryset %}
                <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item projects-wrap">
                  <div class="project-thumbnail"><a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
                    <div class="project-details projects-info">
                      <div class="project-meta d-flex justify-content-between"></div>
                        <a href="{{ post.get_absolute_url }}">
                        <h3 class="">{{ post.title }}</h3></a>
                      <p>{{ post.overview }}</p>
                      <a href="{{ post.get_absolute_url }}">
                        <p class="">See Details</p></a>
                      <div class="date meta-last">{{post.timestamp}}</div>
                         <div class="category">
                        {% for cat in post.categories.all %}
                        <a href="#">{{ cat }}</a>
                        {% endfor %}
                        </div>
                        
                      {% comment %} <footer class="post-footer d-flex align-items-center">
                        <a href="#" class="author d-flex align-items-center flex-wrap">
                          <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                          <div class="title"><span>{{ post.author.user.username }}</span></div>
                        </a>
                        <div class="date"><i class="icon-clock"></i>{{ post.timestamp|timesince }} ago</div>
                         <div class="comments meta-last"><i class="icon-comment"></i>{{ post.comment_count }}</div>
                      </footer> {% endcomment %}
                  </div>
                </div>
              {% endfor %}
            <!-- back to top-->
            <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

      </div>
      {% if is_paginated %}
            
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                {% if page_obj.has_previous %}                
                <li class="page-item"><a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                {% endif %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ page_obj.number }}" class="page-link active">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ page_obj.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>
            
            {% endif %}
    </div>

{% endblock content %}